html {
	font-family: 'Roboto', sans-serif;
}
body {
	background-image: url("../images/carbon_fibre_@2X.png");
	width: 100%;
	margin: auto;
}
.navbar-brand>img {
	padding-left: 20px;
  height: 100%;
	width: auto;
}
.navbar-nav {
	padding: 20px;
}
.navbar-brand {
	height: 100%;
}
#word,#used {
	font-family: 'Kalam', cursive;
	font-size: 30px;
	color: black;
}
h1 {
	color: black;
}
hr {
	border: solid 1px steelblue;
}
.container {
	width: 80%;
	background-color: white;
	border-radius: 10px;
	padding-bottom: 10px;
}
p {
	color: black;
}

.current-word {
	list-style: none;
	font-size: px;
}

.output {
	opacity: 0;
	transition: opacity 1s ease;
}
.letter {
	display: inline-block;
	list-style: none;
	width: 30px;
	margin: 0 5px;
	border-bottom: 1px solid black;
	text-align: center;
	color: white;
	font-size: 36px;
}

.current-word {
	display: inline-block;
	list-style: none;
	font-size: 30px;
	margin-left:-38px;
}
.output {
	opacity: 0;
	transition: opacity 1s ease;
}

.correct {
	background-color: steelblue;
	/*    transition: all 1s ease; */
}

.error {
	color: red;
	opacity: 1;
	font-size: 36px;
}

.warning {
	color: orange;
	opacity: 1;
	font-size: 30px;
}

.win {
	color: steelblue;
	opacity: 1;
	font-size: 36px;
	font-weight: bold;
	border-bottom: solid 1px steelblue;
}
.btn {
	background-color: steelblue;
}
footer {
	border-top: solid 1px steelblue;
	padding: 10px 0px 0px 0px;
	text-align: center;
	color: white;
	background-color: grey;
	width: 100%;
	position:fixed;
	bottom: 0;
	left: 0;
}
footer:hover {
	color: steelblue;
}