html {
	font-family: 'Roboto', sans-serif;
}
body {
	background-image: url("./../images/escheresque_ste_@2X.png");
	background-color: #cccccc;
	color: #777777;
}
p {
font-size: 16px;
}
h1 {
	font-size: 25px;
	color: steelblue;
}
h3 {
	font-size: 20px;
	color: steelblue;
}
a {
	text-decoration: none;
	color: steelblue;
}
.navbar-brand {
	height: 100%;
}
section {
	border-radius: 10px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding: 20px 20px 20px 20px;
}
aside {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.wrapper {
	width: 80%;
	margin: auto;
}
.containernav{
	width: 100%;
}
.containerMain {
	width: 100%;
}
.containerSide {
	width: 100%;
}
.content {
	background-color: white;
	padding: 10px 20px 10px 20px;
	border-style: solid;
	border-width: 2px;
	border-color: steelblue;
}
.image1 {
	float: left;
	width: 175px;
	height: 175px;
	padding-right: 10px;
}
.sidebar {
	border-radius: 10px;
	width: 100%;
	background-color: white;
	padding: 10px 20px 20px 20px;
	align-content: center;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: steelblue;
}
.connect {
	width: 50px;
	height: 50px;
}
.navbar-brand>img {
	padding-left: 20px;
  height: 100%;
	width: auto;
}
.navbar-nav {
	padding: 20px;
}
.cover {
	position: relative;
	width: 250px;
	height: 50px;
	background: #4aaaa5;
	right: 0px;
	top: 210px;
}
.imgtext {
	text-align: center;
	padding: 16px;
	color: #ffffff;
}
footer {
	border-top: solid 1px steelblue;
	padding: 10px 0px 0px 0px;
	text-align: center;
	color: white;
	background-color: grey;
	width: 100%;
	position:fixed;
	bottom: 0;
	left: 0;
}
footer:hover {
	color: steelblue;
}
.col-sm-6 {
	margin-top: -40px;
	margin-bottom: 20px;
	padding-right: 10px;
}
@media screen and (max-width: 640px) {	
	.wrapper {
		width: 100%;
	}
	.section {
		padding: 20px 0px 20px 0px;
	}
}